body {
    font-family: Roboto, sans-serif;
    background-color: #393e46;
}

header {
    background-color: #142850;
    padding: 5px;
    height: 75px;
}

.img-div {
    float: right;
    display: inline-block;
}

img {
    width: 240px;
}

* {
    box-sizing: border-box;
}

main {
    width: 800px;
    margin: 0 auto;
    /* border: 1px solid; */
}

h2 {
    text-align: center;
    color: #eeeeee;
}

.calculate-div {
    width: 500px;
    border: 1px solid #008B8B;
    background: whitesmoke;
    margin: 0 auto;
    border-radius: 5px;
    padding: 15px;
}

label {
    margin-top: 0;
    margin-bottom: 0;
}

.row-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

#action {
    width: 100%;
    background-color: #008B8B;
    border-style: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
}

#action:hover {
    background-color: rgb(3, 121, 121);
}

#alert-div {
    display: none;
    width: 500px;
    background-color: rgb(155, 87, 87);
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 5px auto;
    
}
select {
    width: 160.5px;
    padding: 3px;
}

/* //---------------------------------------------------- */

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  table td {
      background: whitesmoke;
  }
  
  table td, table th {
    width: 25%;
    border: 1px solid #ddd;
    padding: 3px;
  }
  
  table tr:nth-child(even){
      background-color: #d1cccc;
    }
  
  table tr:hover {background-color: rgb(255, 255, 255);}
  
  table th {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #00adb5;
    color: white;
  }
